.cardDiv {
  height: 110px;
  width: 110px;
  background-color: rgb(182, 176, 176);
  margin: 15px;
  border-radius: 10%;
  text-align: center;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.cardDiv:active {
  transform: translateX(-100%) rotateY(-180deg);
}
.closedCard {
  font-size: 80px;
}
.openedCard {
  height: 110px;
  width: 110px;
  border-radius: 10%;
}
.openedCard img {
  width: 99%;
  height: 100%;
  object-fit: contain;
  border-radius: 10%;
}
